@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*{
  margin: 0;
  padding: 0;
  outline: none;
}

body{
  background: #0e0e0e;
  font-family: 'Lato', sans-serif;
}

h1{
  text-align: center;
  color: white;
}

a{
  display: block;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  color: rgb(35, 159, 255);
}

.cont{
  position: relative;
  width: 500px;
  height: 300px;
  padding-top: 50px;
  margin: 20px auto;
}

.cont-left{
  position: absolute;
  width: 50%;
  left: 00%;
}

.cont-right{
  position: absolute;
  width: 50%;
  left: 50%;
}

.fa{ font-size: 40px; }

/* Start Dis With Sharp Edge */
div.contact{
  position: relative;
  margin-bottom: 20px;
  width: 230px;
  height: 50px;
  border-radius: 5px;
}

span.ico{
  position: absolute;
  width: 25%;
  height: 100%;
  text-align: center;
  line-height: 65px;
  background-color: #fff8eb;
  transition: all 0.5s linear;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 6px 0px rgba(0, 0, 0, 0.23);
}

div.contact:hover span.ico{
  box-shadow: none;
}

span.txt{
  position: absolute;
  width: 75%;
  left: 25%;
  height: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.26);
}
/* End Dis With Sharp Edge */

/* Start Dis With Round Edge */
div.contact-r{
  border-radius: 25px;
  background: white;
}

span.ico-r{
  width: 60px;
  height: 60px;
  left: -10px;
  top: -5px;
  color: white;
  line-height: 75px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 3px 0px rgba(0, 0, 0, 0.23);
}

span.txt-r{
  left: 22%;
  text-shadow: none;
}

/* End Dis With Round Edge */

/* Start One */
.one{
  background-color: rgb(255, 15, 70);
}
.one span.ico .fa{
  color: rgb(255, 15, 70);
}
/* End One */

/* Start Tow */
.tow{
  background-color: rgb(35, 159, 255);
}
.tow span.ico .fa{
  color: rgb(35, 159, 255);
}
/* End Tow */

/* Start Three */
.three{
  background-color: #ff700a;
}
.three span.ico .fa{
  color: #ff700a;
}
/* End Three */

/* Start Four */
.four{
  background-color: #00b33d;
}
.four span.ico .fa{
  color: #00b33d;
}
/* End Four */

/******* Spread Between Them *******/

.contact-r span.ico-r .fa{
  color: white;
}

/* Start One Rounded */
.one span.txt-r {
  color: #ff0f46;
}
.one span.ico-r{
  background: #ff0f46;
}
/* End One Rounded  */

/* Start Tow Rounded  */
.tow span.txt-r {
  color: #1398ff;
}
.tow span.ico-r{
  background: #1398ff;
}
/* End Tow Rounded  */

/* Start Three Rounded  */
.three span.txt-r {
  color: #ff700a;
}
.three span.ico-r{
  background: #ff700a;
}
/* End Three Rounded  */

/* Start Four Rounded  */
.four span.txt-r {
  color: #00b33d;
}
.four span.ico-r{
  background: #00b33d;
}
/* End Four Rounded  */
