
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">


  <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is my portfolio website. It includes content which demonstrates skills I aquired during my full stack school. Please check out links for more information.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
          </div>
        </div>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Github</h2>
              <p>This will take you to my GitHub which contains projects I completed for school and projects I've completed. </p>
              <p><a class="btn btn-secondary" href="#" role="button">GitHub »</a></p>
            </div>
            <div class="col-md-4">
              <h2>LinkdIn</h2>
              <p>Linked in click it </p>
              <p><a class="btn btn-secondary" href="#" role="button">LinkedIn »</a></p>
            </div>
            <div class="col-md-4">
              <h2>Upwork</h2>
              <p>Hire me</p>
              <p><a class="btn btn-secondary" href="#" role="button">Upwork »</a></p>
            </div>
          </div>

          <hr>

        </div> <!-- /container -->

      </main>
