<link rel="stylesheet" href="/stylesheets/tictactoe.scss">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-12">
    			<div id="content">
    				<h1>Full Stack </br> Portfolio</h1>
    				<h3>Leggings venmo asymmetrical irony lyft.<br /><br /> Banh mi mustache food truck waistcoat williamsburg.<br /> Beard pork belly pour-over twee,<br />slow-carb cray quinoa scenester fam iPhone pitchfork.</h3>
    				<hr />
    				<button class="btn btn-default btn-lg"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download Now</button>
    			</div>
    		</div>
    	</div>
    </div>
