@import url(https://fonts.googleapis.com/css?family=Oswald:700|Quattrocento);

* {
    box-sizing: border-box;
}

body,html {
    min-height: 100%;
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    color: black;
    font-family: Quattrocento, serif;
    line-height: 1.8925;
    background-image: url(imgsrc/gastro.jpg);
    background-size: cover;
    background-position: center;
    &:before,
    &:after {
        content: '';
        position: absolute;
    }
    &:before {
        mix-blend-mode: overlay;
        top: 2%;
        right: 2%;
        bottom: 2%;
        left: 2%;
        border: 1px solid #efefef;
        z-index: 2;
    }
    &:after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.6;
        background: rgba(#1a1a1a, 1);
        background: radial-gradient( circle at top, #CC774D, #1a1a1a );
    }
    @media (max-height: 450px) {
        font-size: 10px;
    }
}

.content {
    position: relative;
    max-width: 650px;
    z-index: 1;
    padding: 4%;
    text-align: justify;
}

p {
    position: relative;
    padding: 1em 0;
    letter-spacing: 1px;
    
    &:before,
    &:after {
        mix-blend-mode: difference;
        content: "";
        position: absolute;
        left: calc(25% / 2);
        width: 75%;
        height: 1px;
        background: #D4A790;
        // background: linear-gradient(to right, #7F5B4B, #3B1E11);
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}

h1 {
    margin-top: 0;
    font-family: Oswald;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.125;
    text-transform: uppercase;
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 14px 16px
    text-align:center;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

li a:hover {
    background-color: red;

}

.blog_pics{
  display: inline-flex;
  position: relative;
  padding: 0;
  justify-content: center;

}

.active {
    background-color: #4CAF50;
    color: white;
}


